/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 */


.encabezado {
  background-color: rgb(148, 144, 144);
  text-align: center;
  height: 120px;
  border:2px solid red;
  color: white;
  }

